.square {
  width: 50px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  border: 1px solid #000;
}

.board-row {
  display: flex;
}

.game {
  width: 150px;
  margin: 0 auto;
}
